.panda-card-body{
    border-radius: 10px;
    border: none;
}
.panda-footer{
    border: 0;
    background-color: white;
}
.panda-carousel{
    border-radius:2em;
}
.rounded-3{
border-radius: 50px solid red;

}